*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html,body{
	height: 100%;
}

/* Estilo para o plugin slick*/

	.slick-dotted ul{
		list-style-type: none;
		text-align: center;
		position: relative;
		margin-top: 0;
	}

	.slick-dotted li{
		display: inline-block;
		margin: 0 7px;
	}

	.slick-dotted button:focus{
		outline: 0;
	}

	.slick-dotted li button{
		width: 16px;
		height: 16px;
		border-radius: 8px;
		color: #d8d8d8;
		border-width: 0;
		background-color: #d8d8d8;
		opacity: 1;
		cursor: pointer;
	}

	li.slick-active button{
		background-color: #688293;
		color: #688293;
	}

	.slick-slide:focus{
		outline: none;
	}

/* fim estilo plugin */

/* classe padrao para limpar float */

.clear{
	clear: both;
}

/* classe Container padrao para centralizar conteudo */

.container{
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 0 2%;
}

/* header */

header{
	padding: 20px 0;
}

header .logo img{
	margin-top: -50px;
	float: left;
	width: 140px;
	height: 140px;
}

header nav.menu-desktop ul {
	padding: 8px 0;
	float: right;
	list-style-type: none;
}

header nav.menu-desktop ul li{
	text-transform: uppercase;
	padding:0 20px;
	font-size: 14px;
	float: left;
}

header nav.menu-mobile {
	cursor: pointer;
	display: none;
	float: right;
	width: 32px;
	height: 32px;
	background-image: url("../imagens/menu.png");
	background-size: 100% 100%;
	background-position: center;
	background-repeat: none;
}

header nav.menu-mobile ul{
	z-index: 999;
	background-color: white;
	border-bottom: 4px solid #576975;
	position: absolute;
	left: 0;
	top: 100px;
	list-style-type: none;
	text-align: center;
	width: 100%;
	display: none;
}
header nav.menu-mobile ul li {
	text-transform: uppercase;
	padding: 10px 0;
	width: 100%;
}

header ul a{
	text-decoration: none;
	color: #b4b4b4;
}

/* section mosaico */

.mosaico-single{
	float: left;
	width: calc(100% / 6);
}

.img-mosaico-single{
	width: 100%;
	padding-top: 100%;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	background-color: white;
	border:5px solid white;
}

/* section servicos */

section.servicos > .container{
	position: relative;
	top: -30px;
	max-width: 900px;
	display: flex;
	align-items: center;
	text-align: center;
}
section.servicos > .container .box-servico {
	background-image: url('../imagens/icone_dente.png');
	background-size: 18px;
	background-position: center calc(100% - 5px);
	background-repeat: no-repeat;
}
section.servicos > .container .box-servico h2{
	color: white;
	font-weight: normal;
	font-size: 15px;
	text-transform: uppercase;
}
section.servicos > .container .box-servico p{
	color: white;
	margin-top:8px;
	font-weight: normal;
	font-size: 12px;
}

section.servicos > .container .box-servico:nth-of-type(1){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}
section.servicos > .container .box-servico:nth-of-type(2){
	width: 40%;
	padding: 45px 2%;
	background-color: #688293;
	background-image: none;
}
section.servicos > .container .box-servico:nth-of-type(3){
	width: 30%;
	padding: 30px 2%;
	background-color: #576975;
}

/* section perfil-container */
section.perfil-container .container{
	max-width: 1000px;
	padding:40px 2%; 
}
section.perfil-container .container .perfil-wraper{
	padding-top: 60%;
	position: relative;
}
section.perfil-container .perfil-wraper2{
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}
section.perfil-container .img-perfil{
	width: 40%;
	height: 100%;
	background-image: url("../imagens/img_perfil.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
section.perfil-container .texto-perfil{
	width: 60%;
	padding: 0 30px;
}
section.perfil-container .texto-perfil h2{
	color: #698293;
	font-size: 18px;
}

section.perfil-container .texto-perfil p{
	text-align: justify;
	line-height: 22px;
	font-size: 16px;
	margin-top: 8px;
	color: #b4b4b4;
}

	/* section videos */

section.videos{
	padding: 50px 0;
}

section.videos .box-video{
	border:5px solid white;
	position: relative;
	float: left;
	width: 33.3%;
	padding-top: calc(33.3% * 0.6);
}
section.videos iframe{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
/* section tratamentos */
section.tratamentos  > h2{
	text-align: center;
	color: #698293;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}
section.tratamentos .tratamento-container{
	float: left;
	width: 33.3%;
	padding: 60px 0 60px 0;
}
section.tratamentos .tratamento-single{
	width: 100%;
	padding: 40px 5%;
}
section.tratamentos .tratamento-single:last-child{
	padding-top: 15px;
}
section.tratamentos .tratamento-single:nth-of-type(6){
	padding-top: 15px;
}
section.tratamentos .tratamento-single h2{
	font-size: 18px;
	font-weight: normal;
	color: #737373;
}

section.tratamentos .tratamento-single p{
	text-align: justify;
	font-size: 13px;
	margin-top: 20px;
	color: #b4b4b4;
}

/* section depoimentos */

section.depoimentos{
	padding-top: 60px;
}

section.depoimentos > h2{
	text-align: center;
	color: #698293;
	font-size: 18px;
	font-weight: normal;
	text-transform: uppercase;
}

section.depoimentos > .container{
	padding: 70px 2%;
	max-width: 600px;
}

section.depoimentos .depoimento-single{
	text-align: center;
	padding-bottom: 30px;
}

.depoimento-single q{
	line-height: 27px;
	font-size: 15px;
	color: #b4b4b4;
}

.depoimento-single .nome-depoimento{
	padding: 8px 0;
}

.nome-depoimento img{
	display: inline-block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	position: relative;
	top: 10px;
}
.nome-depoimento span{
	font-size: 13px;
	color: #b4b4b4;
	padding-left: 10px;
}

/*
.depoimento-single .slider-bullets{
	text-align: center;
	width: 100%;
	margin-top: 10px;
}
.depoimento-single .slider-bullets span{
	display: inline-block;
	width: 12px;
	height: 12px;
	border-radius: 6px;
	background-color: #ccc;
}
*/

/* Redes Sociais */

/*section social*/

.instagram-chamada{
	width: 100%;
	text-align: center;
	padding:40px 0;
	background-color: #98a5ae;
}
.instagram-chamada p{
	padding: 10px 0;
	color: white;
	line-height: 20px;
	font-size: 13px;
}
.mosaico-social{
	width: 100%;
}
.img-mosaico-single-social{
	float: left;
	width:calc(100% / 9);
	padding-top: calc(100% / 9);
	background-size: 100% 100%;
	background-position: none;
	background-repeat: no-repeat;
	background-color: #ccc;
	border:5px solid white;
}
.facebook-chamada{
	width: 100%;
	text-align: center;
	padding:40px 0;
	background-color: #576975;
}
.facebook-chamada p{
	padding: 10px 0;
	color: white;
	line-height: 20px;
	font-size: 13px;
}

/* section Contato */

section.contato{
	padding: 80px 2%;
}

section.contato > h2{
	text-align: center;
	color: #698293;
	font-size: 30px;
}
section.contato form{
	width: 100%;
	max-width: 500px;
	margin: 30px auto;
}
section.contato .form-wraper{
	float: left;
	padding:10px 10px;
}
section.contato .form-wraper:last-of-type{
	float: left;
	padding:10px 10px;
	text-align: center;
}
section.contato .form-wraper span{
	font-size: 15px;
	color: #b4b4b4;
}
section.contato input[type="text"]{
	width: 100%;
	height: 35px;
	line-height: 35px;
	padding-left: 9px;
	border:1px solid #dadada;
	margin-top: 8px;
}
section.contato textarea{
	margin-top: 8px;
	width: 100%;
	padding: 8px;
	height: 150px;
	resize: none;
	border:1px solid #dadada;
}
section.contato .form-wraper input[type="submit"]{
	display: inline-block;
	width: 100px;
	height: 35px;
	border:0;
	background-color: #688293;
	color: white;
	cursor: pointer;
}
.w100{
	width: 100%;
}

.w50{
	width: 50%;
}

/* footer */

footer > .footer-block-1{
	background-color: #688293;
	padding:100px 0;
}

footer > .footer-block-1 > .container{
	max-width: 1000px;
}

.footer-column{
	width: 33.3%;
	float: left;
	padding: 0 2%;
}

.footer-column h2{
	font-weight: normal;
    font-size: 17px;
    color: white;
}

.footer-column p{
	margin-top: 9px;
	font-size: 14px;
	color: white;
}

.footer-block-2{
	text-align: center;
    background: #576975;
    padding: 19px 0;
}
.footer-block-2 a{
	text-decoration: none;
	color: white;
	font-family: 'Dosis', sans-serif;
	font-size: 18px;
}
/*-----------------------------------------------------------------*/

/*     Web design responsivo     */

/*       	    1024px            */
@media screen and (max-width: 1024px){
	.img-mosaico-single-social{
		width:calc(100% / 6);
		padding-top: calc(100% / 6);
	}

	.mosaico-social > div:nth-of-type(1n+7){
		display: none;
	}
}

/*       	    960px            */
@media screen and (max-width: 960px){
		/* header */
	header .logo img{
		
	}

	header nav ul li{
		padding:0 10px;
		font-size: 14px;
	}

}
	
/*              768px              */
@media screen and (max-width: 768px){

	/* header */
	header nav.menu-desktop ul {
		display: none;
	}
	header nav.menu-mobile {
		display: block;
	}


	/* section servicos */
	section.servicos > .container{
		flex-direction: column;
	}
	section.servicos > .container .box-servico:nth-of-type(1){
		width: 90%;
		max-width: 400px;
	}

	section.servicos > .container .box-servico:nth-of-type(2){
		width: 97%;
		max-width: 450px;
	}

	section.servicos > .container .box-servico:nth-of-type(3){
		width: 90%;
		max-width: 400px;
	}

	/* section perfil-container */

	section.perfil-container .container{
		margin-top: -40px;
		max-width: 1400px;
	}

	section.perfil-container .container .perfil-wraper{
		position: static;
		padding-top: 0;
	}

	section.perfil-container .perfil-wraper2{
		position: static;
		display: block;
		text-align: center;
		height: auto;
	}

	section.perfil-container .img-perfil{
		display: inline-block;
		width:60%;
		padding-top: 80%;
		background-image: url("../imagens/img_perfil.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	section.perfil-container .texto-perfil{
		display: inline-block;
		width: 100%;
		padding:0 2%;
		text-align: justify;
	}

	section.perfil-container .texto-perfil h2{
		margin-top: 10px;
		text-align: center;
	}

	section.perfil-container .texto-perfil p{
		font-size: 14px;
	}

	/* section videos */

	section.videos{
		text-align: center;
	}

	section.videos .box-video{
		display: inline-block;
		border:5px solid white;
		position: relative;
		float: none;
		max-width: 650px;
		width: 100%;
		padding-top: calc(100% * 0.6);
	}

	/* section tratamentos */

	section.tratamentos .tratamento-container{
		width: 50%;
		padding: 60px 0;
	}
	section.tratamentos .tratamento-container:nth-of-type(3){
		display: none;
	}

	section.tratamentos .tratamento-single{
		width: 100%;
		padding: 40px 5%;
	}

	section.tratamentos .tratamento-single h2{
		font-size: 18px;
		font-weight:normal;
		color: #737373;
	}

	section.tratamentos .tratamento-single p{
		text-align: justify;
		font-size: 13px;
		margin-top: 20px;
		color: #b4b4b4;
	}

	/* section social */

	.img-mosaico-single-social{
		width:calc(100% / 3);
		padding-top: calc(100% / 3);
	}

	.mosaico-social > div:nth-of-type(1n+4){
		display: none;
	}

		/* footer */

	footer > .footer-block-1{
		background-color: #688293;
		padding:40px 0;
	}

	.footer-column{
		text-align: center;
		width: 100%;
		float: none;
		padding: 40px 2%;
	}

	.footer-column h2{
		font-weight: normal;
	    font-size: 17px;
	    color: white;
	}

	.footer-column p{
		margin-top: 9px;
		font-size: 14px;
		color: white;
	}

}
		/* 580px */
@media screen and (max-width: 580px){

	/* section perfil-container */

	section.perfil-container .img-perfil{
		display: inline-block;
		width:70%;
		padding-top: 90%;
		background-image: url("../imagens/img_perfil.jpg");
		background-repeat: no-repeat;
		background-size: 100% 100%;
	}

	.w50{
		width: 100%;
	}
}
/*               480px           */
@media screen and (max-width: 480px){

	/* section tratamentos */

	section.tratamentos .tratamento-container{
		width: 100%;
	}

	section.tratamentos .tratamento-container:nth-of-type(2){
		display: none;
	}

	section.tratamentos .tratamento-single h2{
		text-align: center;
	}
}